@charset "utf-8";

/* RESET CSS */
* { margin:0; padding:0; outline:0; vertical-align:top; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu nav, section { display:block; }
ul, ol, dl { list-style:none; }
img, video { max-width:100%; border:0; vertical-align:top; }
a {vertical-align:top; text-decoration:none; color:#000; }
table { border-collapse:collapse; border-spacing:0; }
input, select { vertical-align:middle; }
body, th, td, input, select, textarea { color:#444; font-family:'Malgun Gothic','돋움',dotum, sans-serif; font-size:14px; line-height:1.8em;}
button { cursor:pointer; font-family: 'Noto Sans', sans-serif; }
html, body { margin:0; padding:0; width: 100%; height:100%; background-color: #fff;
font-family: 'Noto Sans','Malgun Gothic','돋움',dotum, sans-serif;}
ul, li {margin:0; padding:0; }

#magoContainer {
    width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
}

#objectLabel {
	background-color: transparent;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 100;
	pointer-events:none;
}

/* NAV */
.nav {
	position: absolute;
	float: left;
	width: 65px;
	height: 100%;
	background-color: #393946;
	z-index: 9999;
}
.nav li {
	margin-left: 3px;
	padding: 10px 0;
	color: #fff;
	text-align: center;
	/* 	text-indent: -999em; */
	border: none;
	cursor: pointer;
	border-top: 1px solid #484854;
	border-bottom: 1px solid #27272f;
}
.nav li.on {
	color: #67aef7 !important;
	border-radius: 5px 0 0 5px;
	background-color: #fff;
}
.nav li.home {
	background-position: 0 -50px;
}
.nav li.api {
	background-position: 0 -50px;
}

/* Nav Contents */
.navContents {
	display:none;
	position: absolute;
	float: left;
	width: 442px;
	height: 100%;
	overflow: auto;
	background-color: #fff;
	z-index: 999;
}
.apiWrap {
	display:none; 
}

/* Home */
.navContents ul.menuList {
	margin: 10px 15px 0px 80px;
}
.menuList > li {
	position: relative;
	padding: 10px 10px 10px 15px;
	border-bottom: 1px dotted #ccc;
	cursor: pointer;
}
.menuList li:hover {
	background-color: #ffffe0;	
}
.menuList > li > ul > li {
	padding-left: 25px;
}

/* API */
.navContents div.apiWrap {
	margin: 10px 15px 0px 80px;
}
.navContents div.apiWrap > div h3 {
	margin-bottom: 8px;
	font-size: 1em;
	font-weight: normal;
	color: #2955a6;
}
.apiWrap > div {
	padding-bottom: 7px;
	border-bottom: 1px dotted #888;
}
.apiWrap > div:last-child {
	border-bottom: none;
}
.apiWrap div label {
	display: inline-block;
	margin-right: 10px;
}