@charset "utf-8";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#magoContainer {
  height: 100%;
}

#objectLabel {
  background-color: transparent;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
  pointer-events: none;
}
